<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/header.ejs') %>
        <main>
            <% if (products.length > 0) { %>
                <ul class="cart-list">
                    <% products.forEach(p => { %>
                        <li class="cart-item">
                            <form action="/cart-delete-item" method="POST">
                                <label for="productId">
                                    <a class="cart-text" href="/products/<%= p.productData.id %>">
                                        <%= p.qty %>x
                                        <img src="<%= p.productData.imageUrl %>" alt="<%= p.productData.title %>" class="constrained-height">
                                        <%= p.productData.title %>
                                    </a>
                                </label>
                                <input type="hidden" value="<%= p.productData._id %>" name="productId">
                                <button class="btn" type="submit">🗑️</button>
                            </form>
                        </li>
                    <% }) %>
                </ul>
            <% } else { %>
                <h1>No Products in Cart!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>
        