<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/header.ejs') %>

    <main>
        <% if (prods.length > 0) { %>
            <p class="intro">I take pride in the quality of the PCs I build, and I hope to build one for you!<br>
                If you'd like me to build you a custom rig, contact me at 
                <a class="link" href="mailto:kyle.mueller.custom.pcs@gmail.com?subject=Kyle%20Mueller%20Custom%20PCs">kyle.mueller.custom.pcs@gmail.com</a>!
            </p>
            <div class="grid">
                <% for (let product of prods) { %>
                    <article class="card product-item" onclick="location.href='/products/<%= product._id %>'">
                        <header class="card__header">
                            <h1 class="product__title"><%= product.title %></h1>
                        </header>
                        <div class="card__image">
                            <img src="<%= product.imageUrl %>"
                                alt="<%= product.title %>">
                        </div>
                        <div class="card__content">
                            <h2 class="product__price">$<%= product.price %></h2>
                        </div>
                        <div class="card__actions">
                            <a href="/products/<%= product._id %>" class="btn">Details</a>
                            <% if (isAuthenticated) { %>
                                <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                            <% } %>
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>