<%- include('../includes/head.ejs') %>
<script>
    function mOver() {
        document.getElementById("zoomer").style.transform = 'scale(2)';
    }
    function mOut() {
        document.getElementById("zoomer").style.transform = 'scale(1)';
    }
    function mMove(e) {
        let el = document.getElementById("zoomer");
        let transOrig = (e.layerX / el.offsetWidth) * 100 + '% ' + (e.layerY / el.offsetHeight) * 100 +'%';
        el.style.transformOrigin = transOrig;
    }
</script>
    </head>

    <body>
        <%- include('../includes/header.ejs') %>
        <main class="centered">
            <h1 class="title"><%= product.title %></h1>
            <br>
            <div class="zoomable" onmouseover="mOver()" onmouseout="mOut()" onmousemove="mMove(event)">
                <img src="<%= product.imageUrl %>" id="zoomer" alt="<%= product.title %>" class="product-img">
            </div>
            <div class="description">
                <h2>$<%= product.price %></h2><br>
                <span class="product-description"><%= product.description %></span>
                <% if (isAuthenticated) { %>
                    <br>
                    <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                    <br><br>
                <% } %>
            </div>
        </main>
        <%- include('../includes/end.ejs') %>